@model BlogHomePageViewModel


<h1>My Azure Cosmos DB Blog Sample Home Page</h1>


@if (!Model.BlogPostsMostRecent.Any())
{
    <div class="alert alert-info">There are no posts in this blog.</div>
}


@foreach (var bp in Model.BlogPostsMostRecent)
{
    <h3 class="mt-5">@bp.Title</h3>
    @if (User.IsInRole("Admin"))
    {
        <a href="/post/@bp.PostId">edit</a>
    }
    <p>
        @Html.Raw(bp.Content)
    </p>
}