@model BlogHomePageViewModel


<h1>My Azure Cosmos DB Blog Sample Home Page</h1>


@if (!Model.BlogPostsMostRecent.Any())
{
    <div class="alert alert-info">There are no posts in this blog.</div>
}


@foreach (var bp in Model.BlogPostsMostRecent)
{
    <h3 class="mt-5"><a class="text-dark" href="/post/@bp.PostId">@bp.Title</a></h3>
    <a href="/post/@bp.PostId#comments" class="badge badge-pill badge-secondary">@bp.CommentCount Comment@(bp.CommentCount == 1 ? "" : "s")</a>
    @if (User.IsInRole("Admin"))
    {
        <a href="/post/edit/@bp.PostId">edit</a>
    }
    <p>
        @Html.Raw(bp.Content)
    </p>
}