
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <h1>My Azure Cosmos DB Blog Sample</h1>
</body>
</html>
