@model BlogPostEditViewModel
@using Microsoft.AspNetCore.Mvc.ModelBinding

<h2>Blog Post Edit</h2>
<hr />

@using (Html.BeginForm())
{

    <div class="form-group">
        <label for="title" class="h5">Title</label> <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" class="form-control @(ViewData.ModelState.Any(p => p.Key == "Title" && p.Value.ValidationState == ModelValidationState.Invalid) ? "is-invalid" : "")" id="title" name="title" value="@Model.Title">
    </div>

    <div class="form-group">
        <label for="content" class="h5">Content</label> <span asp-validation-for="Content" class="text-danger"></span>
        <textarea rows="20" class="form-control @(ViewData.ModelState.Any(p => p.Key == "Content" && p.Value.ValidationState == ModelValidationState.Invalid) ? "is-invalid" : "")" id="content" name="content" aria-describedby="contentHelp" style="resize:vertical;">@Model.Content</textarea>
        <small id="contentHelp" class="form-text text-muted">Content of the blog post.</small>
    </div>


    <div class="mt-5">
        <button class="btn btn-primary">Save</button>
        <a href="/post/@Model.PostId" class="btn btn-light">Cancel</a>
    </div>

    @if (ViewBag.Success != null && ViewBag.Success)
    {
        <div class="alert alert-success mt-3">
            Your changes have been saved!
        </div>
    }
}

@section Head{
}

@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#content'
        });
    </script>
}